<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EventPlannerSuite" parallel="methods" thread-count="4">
    <listeners>
        <listener class-name="com.test.Listeners" />
        <listener class-name="com.test.DynamicTestDataListener" />
    </listeners>
    <test name="EventPlannerTests">
        <groups>
            <run>
                <include name="createEvent"/>
                <include name="addAttendee"/>
                <include name="removeAttendee"/>
                <include name="sendInvitations"/>
                <include name="scheduleEvent"/>
            </run>
            <dependencies>
                <group name="event-creation" depends-on="initial-setup" />
                <group name="attendee-management" depends-on="event-creation" />
            </dependencies>
        </groups>
        <classes>
            <class name="com.test.Attendee"/>
            <class name="com.test.EventCreation"/>
            <class name="com.test.EventPlanner"/>
            <class name="com.test.InvitationSender"/>
            <class name="com.test.Schedule"/>
            <class name="com.test.EventManagement"/>
        </classes>
    </test>
</suite>
