<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EventPlannerSuite" parallel="methods" thread-count="4">
    <listeners>
        <listener class-name="com.ultralesson.eventplanner.CustomTestNGListener" />
    </listeners>
    <test name="EventPlannerTests">
        <groups>
            <run>
                <include name="createEvent"/>
                <include name="addAttendee"/>
                <include name="removeAttendee"/>
                <include name="sendInvitations"/>
                <include name="scheduleEvent"/>
            </run>
            <dependencies>
                <group name="event-creation" depends-on="initial-setup" />
                <group name="attendee-management" depends-on="event-creation" />
            </dependencies>
        </groups>
        <classes>
            <class name="com.ultralesson.eventplanner.AttendeeTest"/>
            <class name="com.ultralesson.eventplanner.EventCreationTest"/>
            <class name="com.ultralesson.eventplanner.EventPlannerTest"/>
            <class name="com.ultralesson.eventplanner.InvitationSenderTest"/>
            <class name="com.ultralesson.eventplanner.ScheduleTest"/>
            <class name="com.ultralesson.eventplanner.EventManagementTest"/>
        </classes>
    </test>
</suite>
